.text-red{
    color: red;
}
.text-pink{
    color: pink;
}
.text-green{
    color: green;
}

.background-1{
    background-image: url('https://fakeimg.pl/300/');
    width: 300px;
    height: 300px;
}

.box{
    border-radius: 1px;
}


.bg-filter {
    filter: blur(5px);
  }

  .example {
    display: flex;
    transition: transform 0.3s;
  }

  .standard {
    user-select:none; /* standard syntax */
  }